@page
@model CoreSite1.Pages.Home.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Page.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.CategoryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.PageTempleteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.PageTempleteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.PageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.PageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.Heading)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.Heading)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.SubHeading)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.SubHeading)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Page.PageId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
