@page
@model CoreSite1.Pages.MyStore.DetailsModel
@inject CoreSite1.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutMyStore.cshtml";
}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/MyStore/Index"><i class="fa fa-home"></i> Home</a>
                    @*<a asp-area="" asp-controller="Store" asp-action="Index">Store</a>*@
                    @*@{string cateName = ""; cateName = Model.Category.Where(e => e.CategoryId == Model.Product.CategoryId).FirstOrDefault().Name;
                            IDictionary<string, string> routeData = new Dictionary<string, string>
                                                                       {
                                                                          {"Category", cateName}
                                                                        };
                        }
                        <a asp-area="" asp-controller="Store" asp-action="Browse" asp-all-route-data="routeData">@Model.Category.Where(e => e.CategoryId == Model.Product.CategoryId).FirstOrDefault().Name </a>*@
                    <a href="/MyStore/Browse?CategoryName=@_context.Categorys.Where(t => t.CategoryId == _context.Categorys.Where(y=>y.CategoryId == _context.Categorys.Where(g => g.CategoryId == Model.Product.CategoryId).FirstOrDefault().ParentCategoryId).FirstOrDefault().ParentCategoryId).FirstOrDefault().Name">@_context.Categorys.Where(t => t.CategoryId == _context.Categorys.Where(y => y.CategoryId == _context.Categorys.Where(g => g.CategoryId == Model.Product.CategoryId).FirstOrDefault().ParentCategoryId).FirstOrDefault().ParentCategoryId).FirstOrDefault().Name </a>
                    <a href="/MyStore/Browse?CategoryName=@_context.Categorys.Where(e => e.CategoryId == Model.Product.CategoryId).FirstOrDefault().Name">@_context.Categorys.Where(e => e.CategoryId == Model.Product.CategoryId).FirstOrDefault().Name </a>
                    @*<a href="./index.html"><i class="fa fa-home"></i> Home</a>*@
                    @*<a href="#">Women’s </a>*@
                    <span>@Model.Variant.Product.Title @*Essential structured blazer*@</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                           
                            <img src="@Model.Variant.Product.ProductArtUrl" alt="" >
                        </a>
                        <a class="pt" href="#product-2">
                            <img src="/ashion/img/product/details/thumb-2.jpg" alt="">
                        </a>
                        <a class="pt" href="#product-3">
                            <img src="/ashion/img/product/details/thumb-3.jpg" alt="">
                        </a>
                        <a class="pt" href="#product-4">
                            <img src="/ashion/img/product/details/thumb-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            @* //////https://www.w3schools.com/howto/howto_css_zoom_hover.asp *@
                            <img data-hash="product-1" class="product__big__img" src="@Model.Variant.Product.ProductArtUrl" alt="">
                            <img data-hash="product-2" class="product__big__img" src="/ashion/img/product/details/product-3.jpg" alt="">
                            <img data-hash="product-3" class="product__big__img" src="/ashion/img/product/details/product-2.jpg" alt="">
                            <img data-hash="product-4" class="product__big__img" src="/ashion/img/product/details/product-4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>@Model.Variant.Product.Title <span>Brand: @Model.Variant.Product.Brand</span></h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>( 138 reviews )</span>
                    </div>
                    <div class="product__details__price">
                        ₹ @(Model.Variant.Product.Discount == 0 ? @Model.Variant.Product.Price : (Model.Variant.Product.Price - Math.Round(Model.Variant.Product.Price * (Model.Variant.Product.Discount / 100m), 2, MidpointRounding.ToEven)))
                        <span><s> ₹ @Model.Variant.Product.Price</s></span>
                    </div>
                    <p>
                        @*Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
            magni lores eos qui ratione voluptatem sequi nesciunt.*@
                    </p>
                    <form method="post">
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" asp-for="qty" value="1">
                                </div>
                            </div>

                            <input type="hidden" asp-for="vid" id="SVid" value="@Model.Variant.VariantId" />
                            <input type="hidden" asp-for="id" id="sid" value="@Model.Variant.Product.ProductId" />
                            @*<a class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>*@
                            <button type="submit" class="cart-btn" style="border:hidden"><span class="icon_bag_alt"></span> Add to cart</button>

                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            @(Model.Variant.UnitInStock > 0 ? "In Stock" : "Out Of Stock")
                                            <input type="checkbox" id="stockin" @(Model.Variant.UnitInStock > 0 ? "checked" : "")/> @*checked="@(Model.Variant.UnitInStock > 0 ? "checked" : "")" >*@
                                            <span class="checkmark" ></span>
                                        </label>


                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                       
                                        @foreach (var vp in Model.Variants.Select(k => k.color).Distinct())
                                        {

                                        <label for="">
                                            <input type="radio" name="color__radio" id="" checked="@(vp == Model.Variant.color ? "checked" : "")" /> @*//style="opacity: @(vp == Model.Variant.color ? 1 : 0);">*@
                                            <span class="" style="background: @vp !important; position: absolute; left: 0;
                                            top: -10px; height: 20px; width: 20px; border-radius: 50%;border:solid @(vp == Model.Variant.color ? "" : "solid red");"
                                                  onclick="seleVariant( @Model.Variants.Where(l=>l.color == vp).FirstOrDefault().VariantId , @Model.Product.ProductId)"></span>
                                        </label>
                                        }
                                        @*<label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>o
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>*@
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        @foreach (var vp in Model.Variants.Where(k => k.color == Model.Variant.color).ToList())
                                        {
                                             <label for="s-btn" class="@(Model.Variant.Size == vp.Size ? "active" : "")" onclick="seleSize( @vp.VariantId , @Model.Product.ProductId)">
                                            <input type="radio" id="s-btn" disabled="@(vp.UnitInStock > 0 ? "" : "disabled")" >
                                            @vp.Size
                                        </label>
                                        }
                                        @*<label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            xs
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            s
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            m
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            l
                                        </label>*@
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h6>Description</h6>
                            <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.
                            </p>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <h6>Specification</h6>
                            <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.
                            </p>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h6>Reviews ( 2 )</h6>
                            <p>
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>RELATED PRODUCTS</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion/img/product/related/rp-1.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="/ashion/img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion/img/product/related/rp-2.jpg">
                        <ul class="product__hover">
                            <li><a href="/ashion/img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion/img/product/related/rp-3.jpg">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="/ashion/img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/ashion/img/product/related/rp-4.jpg">
                        <ul class="product__hover">
                            <li><a href="/ashion/img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
@*<h1>Details</h1>

    <div>
        <h4>Variant</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.AddedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.AddedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.RowVersion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.RowVersion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.AddedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.AddedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.SKU)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.SKU)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.UnitInStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.UnitInStock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.Size)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.Size)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.IsDefaulProduct)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.IsDefaulProduct)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.OptionalImageURL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.OptionalImageURL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.OptionalPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.OptionalPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Variant.Product)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Variant.Product.Brand)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Variant.VariantId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>*@

<script src="~/ashion/js/jquery-3.3.1.min.js"></script>
<script>
    function seleVariant(vid, pid)
    {
        //alert(pid + '<-Pid Vid->' + vid);
        window.location.href = ("/MyStore/details?id=" + pid +"&vid=" + vid);
        
    }
    function seleSize(vid, pid) {
        //alert(pid + "<-Pid Vid->" + vid);
        window.location.href = ("/MyStore/details?id=" + pid + "&vid=" + vid);
    }

    //$('.cart-btn').click(function () {
    //    //Your code
    //    //alert(0);
    //    //alert($('#sid').val());
    //    window.location.href  = ("/MyStore/ShoppingCart?id="+$('#sid').val()+"&vid="+$('#SVid').val()).trim();
    //    //alert(1);
    //    //window.location.href = ("/MyStore/ShoppingCart");
    //    ///MyStore/ShoppingCart ? handler = AddToCart & id=5
    //    //alert($(this).attr.);
    //});
</script>