@page
@model CoreSite1.Pages.MyStore.Checkout.IndexModel
@inject CoreSite1.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutMyStore.cshtml";
}

@*<h1>Index</h1>*@
@*<h4>Order</h4>*@
@*<hr />*@
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/MyStore/Index"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link">
                    <span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.
                </h6>
            </div>
        </div>
        <form method="post" class="checkout__form">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Billing detail</h5>

                    <div class="row">
                        <div class="container">
                            <div class="row">

                                @*@if(Model.Addresses == null || Model.Addresses.Count == 0)
                                    {*@
                                @foreach (var item in _context.Addresses.Where(e => e.AddedBy == User.Identity.Name).ToList())
                                {
                                    <div class="col-md-4">
                                        <div class="card shadow mb-4">
                                            <div class="card-body">
                                                <div class="contact-box center-version">
                                                    <h3 class="m-b-xs">
                                                        <strong>
                                                            @Html.DisplayFor(modelItem => item.FirstName)
                                                            @Html.DisplayFor(modelItem => item.LastName)
                                                        </strong>
                                                    </h3>
                                                    <address class="m-t-md">
                                                        @Html.DisplayFor(modelItem => item.Street)<br>
                                                        @Html.DisplayFor(modelItem => item.City)@Html.DisplayFor(modelItem => item.State)<br>
                                                        @Html.DisplayFor(modelItem => item.Country)  @Html.DisplayFor(modelItem => item.PostalCode)<br>
                                                        <i class="fa fa-phone"></i>@*<abbr title="Phone">P:</abbr>*@ (+91) @Html.DisplayFor(modelItem => item.Phone)
                                                        <i class="fa fa-envelope"></i>@Html.DisplayFor(modelItem => item.Email)
                                                    </address>
                                                    <div class="contact-box-footer">
                                                        <div class="m-t-xs btn-group">
                                                            @{
                                                                IDictionary<string, string> routeData = new Dictionary<string, string>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    {"id", item.AddressID.ToString()}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                };
                                                            }
                                                            Deliver to this Address: <input type="radio" name="redirect" value="@item.AddressID" asp-page="AddressAndPayment" asp-controller="CheckoutController" asp-action="AddressAndPayment" asp-all-route-data="routeData">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @*}*@
                            </div>
                            Create News Address:
                            @if (_context.Addresses.Count() > 0)
                            {
                                <input type="radio" name="redirect" value="0">
                            }


                        </div>

                        @*<div id="inputaddress" >*@
                        <div class="col-lg-6 col-md-6 col-sm-6" id="ad_1">
                            <div class="checkout__form__input">
                                @*<p>First Name <span>*</span></p>
                                    <input type="text">*@
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Address.FirstName" class="control-label"></label>
                                    <input asp-for="Address.FirstName" class="form-control" />
                                    <span asp-validation-for="Address.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="ad_2">
                            <div class="checkout__form__input">
                                @*<p>Last Name <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.LastName" class="control-label"></label>
                                    <input asp-for="Address.LastName" class="form-control" />
                                    <span asp-validation-for="Address.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="ad_3">
                            <div class="checkout__form__input">
                                @*<p>Country <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.Country" class="control-label"></label>
                                    <input asp-for="Address.Country" class="form-control" />
                                    <span asp-validation-for="Address.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="checkout__form__input">
                                @*<p>Address <span>*</span></p>
                                    <input type="text" placeholder="Street Address">
                                    <input type="text" placeholder="Apartment. suite, unite ect ( optinal )">*@
                                <div class="form-group">
                                    <label asp-for="Address.Street" class="control-label"></label>
                                    <input asp-for="Address.Street" class="form-control" />
                                    <span asp-validation-for="Address.Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="checkout__form__input">
                                @*<p>Town/City <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.City" class="control-label"></label>
                                    <input asp-for="Address.City" class="form-control" />
                                    <span asp-validation-for="Address.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="checkout__form__input">
                                @*<p>Country/State <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.State" class="control-label"></label>
                                    <input asp-for="Address.State" class="form-control" />
                                    <span asp-validation-for="Address.State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="checkout__form__input">
                                @*<p>Postcode/Zip <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.PostalCode" class="control-label"></label>
                                    <input asp-for="Address.PostalCode" class="form-control" />
                                    <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="ad_4">
                            <div class="checkout__form__input">
                                @*<p>Phone <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.Phone" class="control-label"></label>
                                    <input asp-for="Address.Phone" class="form-control" />
                                    <span asp-validation-for="Address.Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="ad_5">
                            <div class="checkout__form__input">
                                @*<p>Email <span>*</span></p>
                                    <input type="text">*@
                                <div class="form-group">
                                    <label asp-for="Address.Email" class="control-label"></label>
                                    <input asp-for="Address.Email" class="form-control" />
                                    <span asp-validation-for="Address.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <div class="form-group">
                                    <label asp-for="Order.ShippingMethod" class="control-label"></label>
                                    @*<input asp-for="Order.ShippingMethod" class="form-control" />
                                        <span asp-validation-for="Order.ShippingMethod" class="text-danger"></span>*@
                                    @Html.DropDownList("ShippingMethod", new SelectList(Model.ShippingMethod.Items,
                                    "Value", "Text", Model.ShippingMethod.SelectedValue))

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="ad_6">
                            <input type="hidden" asp-for="Address.AddedBy" class="form-control" value="@User.Identity.Name" />
                            <input type="hidden" asp-for="Address.AddedDate" class="form-control" value="@DateTime.Now" />
                        </div>
                        @*</div>*@
                        @*<div class="col-lg-12">
                                <div class="checkout__form__checkbox">
                                    <label for="acc">
                                        Create an acount?
                                        <input type="checkbox" id="acc">
                                        <span class="checkmark"></span>
                                    </label>
                                    <p>
                                        Create am acount by entering the information below. If you are a returing
                                        customer login at the <br />top of the page
                                    </p>
                                </div>
                                <div class="checkout__form__input">
                                    <p>Account Password <span>*</span></p>
                                    <input type="text">
                                </div>
                                <div class="checkout__form__checkbox">
                                    <label for="note">
                                        Note about your order, e.g, special noe for delivery
                                        <input type="checkbox" id="note">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__form__input">
                                    <p>Oder notes <span>*</span></p>
                                    <input type="text"
                                           placeholder="Note about your order, e.g, special noe for delivery">
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>Your order</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <li>
                                    <span class="top__text">Product</span>
                                    <span class="top__text__right">Total</span>
                                </li>
                                @foreach (var item in Model.viewModel.CartItems)
                                {
                                    <li> @item.Product.Title <span>$@(Decimal.Round(item.Product.Discount == 0 ? item.Product.Price : (item.Product.Price - Math.Round(item.Product.Price * (item.Product.Discount / 100m), 2, MidpointRounding.ToEven))) * decimal.Parse(item.Count.ToString()))</span></li>
                                }
                                @*<li>02. Zip-pockets pebbled<br /> tote briefcase <span>$ 170.0</span></li>
                                    <li>03. Black jean <span>$ 170.0</span></li>
                                    <li>04. Cotton shirt <span>$ 110.0</span></li>*@
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>Subtotal <span>$ @Math.Round(Model.viewModel.CartTotal)</span></li>
                                <li>Total <span>$ @Math.Round(Model.viewModel.CartTotal)</span></li>
                            </ul>
                        </div>
                        @*<div class="checkout__order__widget">
                                <label for="o-acc">
                                    Create an acount?
                                    <input type="checkbox" id="o-acc">
                                    <span class="checkmark"></span>
                                </label>
                                <p>
                                    Create am acount by entering the information below. If you are a returing customer
                                    login at the top of the page.
                                </p>
                                <label for="check-payment">
                                    Cheque payment
                                    <input type="checkbox" id="check-payment">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="paypal">
                                    PayPal
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>*@
                        @*<button type="submit" class="site-btn">Place oder</button>*@
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                    <label asp-for="Address.Type" class="control-label"></label>
                    <input asp-for="Address.Type" class="form-control" />
                    <span asp-validation-for="Address.Type" class="text-danger"></span>
                </div>*@
            @*<input type="hidden" asp-for="aId" name="aid" id="aid" value="0" class="form-control" />*@
            <div class="form-group-hidden">
                @*<label asp-for="Order.AddressID" class="control-label"></label>*@
                <input asp-for="Order.AddressID" type="hidden" class="form-control" id="aid" value="0" />
                @*<span asp-validation-for="Order.TransactionID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Place oder" id="submit" class="site-btn" />
            </div>

        </form>
    </div>
</section>
<!-- Checkout Section End -->
@*<div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Order.ShippingMethod" class="control-label"></label>
                    <input asp-for="Order.ShippingMethod" class="form-control" />
                    <span asp-validation-for="Order.ShippingMethod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.ShippingAmount" class="control-label"></label>
                    <input asp-for="Order.ShippingAmount" class="form-control" />
                    <span asp-validation-for="Order.ShippingAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.ShippingDate" class="control-label"></label>
                    <input asp-for="Order.ShippingDate" class="form-control" />
                    <span asp-validation-for="Order.ShippingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.TransactionID" class="control-label"></label>
                    <input asp-for="Order.TransactionID" class="form-control" />
                    <span asp-validation-for="Order.TransactionID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.TrackingID" class="control-label"></label>
                    <input asp-for="Order.TrackingID" class="form-control" />
                    <span asp-validation-for="Order.TrackingID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('input[type="radio"]').on('click', function () {
        //window.location = $(this).val();
        alert($('#aid').val());
        $('#aid').val($(this).val());
        alert($('#aid').val());

        //if ($(this).val() === "") {
        //    alert('empty');
        //    var proQty1 = $('.form-group-hidden');
        //    //proQty.prepend('<span class="dec qtybtn">-</span>');
        //    //var str = '<input type="hidden" asp-for="aId" name="aid" id="aid" value=' + $(this).val() + ' />';
        //    //alert(str);
        //    alert(proQty1.children().html());
        //    proQty1.empty();
        //    alert(proQty1.children().html());
        //}
        //else {
        //    alert('contain');
        //    var proQty = $('.form-group-hidden');
        //    //proQty.prepend('<span class="dec qtybtn">-</span>');
        //    var str = '<input type="hidden" asp-for="aId" name="aid" id="aid" value=' + $(this).val() + ' />';
        //    alert(str);
        //    proQty.append(str);
        //}

    });
    $('#submit').on('click', function () {
        //window.location = $(this).val();
        //   alert('a');
        if ($('#aid').val() != 0) {
            alert('empty');
            alert($('#aid').val());
            //remove address input element in case previously added address is used.
            $('#ad_1').remove();
            $('#ad_2').remove();
            $('#ad_3').remove();
            $('#ad_4').remove();
            $('#ad_5').remove();
            $('#ad_6').remove();
            //           alert('contain');
        }
        else {

            //           var proQty = $('.form-group');
            ////proQty.prepend('<span class="dec qtybtn">-</span>');
            //           proQty.append('<span class="inc qtybtn">+</span>');
        }
    });
</script>
