@page
@model CoreSite1.Pages.fr_FR.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutGlobal.cshtml";
}

@*<h2>Index</h2>*@


@if (Model.Pages != null)
{
    @*@foreach (var row in Model.Pages)
        {*@
    <!-- Page Header  -->
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">

                        <h1>@Html.Raw(@Model.Pages.Heading)</h1>
                        <h2 class="subheading">@Html.Raw(@Model.Pages.SubHeading)</h2>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @Html.Raw(Model.Pages.Content)

                </div>
            </div>
        </div>
    </article>

    //}
}