@page
@model WebChatCore.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}
<!-- Theme style -->
@*<link rel="stylesheet" href="~/AdminLTE/css/adminlte.min.css">*@
<style>
    .direct-chat .card-body {
        overflow-x: hidden;
        padding: 0;
        position: relative;
    }

    .direct-chat.chat-pane-open .direct-chat-contacts {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .direct-chat.timestamp-light .direct-chat-timestamp {
        color: #30465f;
    }

    .direct-chat.timestamp-dark .direct-chat-timestamp {
        color: #cccccc;
    }

    .direct-chat-messages {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 250px;
        overflow: auto;
        padding: 10px;
    }

    .direct-chat-msg,
    .direct-chat-text {
        display: block;
    }

    .direct-chat-msg {
        margin-bottom: 10px;
    }

        .direct-chat-msg::after {
            display: block;
            clear: both;
            content: "";
        }

    .direct-chat-messages,
    .direct-chat-contacts {
        transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    }

    .direct-chat-text {
        border-radius: 0.3rem;
        background: #d2d6de;
        border: 1px solid #d2d6de;
        color: #444;
        margin: 5px 0 0 50px;
        padding: 5px 10px;
        position: relative;
    }

        .direct-chat-text::after, .direct-chat-text::before {
            border: solid transparent;
            border-right-color: #d2d6de;
            content: ' ';
            height: 0;
            pointer-events: none;
            position: absolute;
            right: 100%;
            top: 15px;
            width: 0;
        }

        .direct-chat-text::after {
            border-width: 5px;
            margin-top: -5px;
        }

        .direct-chat-text::before {
            border-width: 6px;
            margin-top: -6px;
        }

    .right .direct-chat-text {
        margin-left: 0;
        margin-right: 50px;
    }

        .right .direct-chat-text::after, .right .direct-chat-text::before {
            border-left-color: #d2d6de;
            border-right-color: transparent;
            left: 100%;
            right: auto;
        }

    .direct-chat-img {
        border-radius: 50%;
        float: left;
        height: 40px;
        width: 40px;
    }

    .right .direct-chat-img {
        float: right;
    }

    .direct-chat-infos {
        display: block;
        font-size: 0.875rem;
        margin-bottom: 2px;
    }

    .direct-chat-name {
        font-weight: 600;
    }

    .direct-chat-timestamp {
        color: #697582;
    }

    .direct-chat-contacts-open .direct-chat-contacts {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .direct-chat-contacts {
        -webkit-transform: translate(101%, 0);
        transform: translate(101%, 0);
        background: #343a40;
        bottom: 0;
        color: #ffffff;
        height: 250px;
        overflow: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .direct-chat-contacts-light {
        background: #f8f9fa;
    }

        .direct-chat-contacts-light .contacts-list-name {
            color: #495057;
        }

        .direct-chat-contacts-light .contacts-list-date {
            color: #6c757d;
        }

        .direct-chat-contacts-light .contacts-list-msg {
            color: #545b62;
        }

    .contacts-list {
        padding-left: 0;
        list-style: none;
    }

        .contacts-list > li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            margin: 0;
            padding: 10px;
        }

            .contacts-list > li::after {
                display: block;
                clear: both;
                content: "";
            }

            .contacts-list > li:last-of-type {
                border-bottom: 0;
            }

    .contacts-list-img {
        border-radius: 50%;
        float: left;
        width: 40px;
    }

    .contacts-list-info {
        color: #ffffff;
        margin-left: 45px;
    }

    .contacts-list-name,
    .contacts-list-status {
        display: block;
    }

    .contacts-list-name {
        font-weight: 600;
    }

    .contacts-list-status {
        font-size: 0.875rem;
    }

    .contacts-list-date {
        color: #ced4da;
        font-weight: normal;
    }

    .contacts-list-msg {
        color: #b1bbc4;
    }

    .direct-chat-primary .right > .direct-chat-text {
        background: #007bff;
        border-color: #007bff;
        color: #ffffff;
    }

        .direct-chat-primary .right > .direct-chat-text::after, .direct-chat-primary .right > .direct-chat-text::before {
            border-left-color: #007bff;
        }

    .direct-chat-secondary .right > .direct-chat-text {
        background: #6c757d;
        border-color: #6c757d;
        color: #ffffff;
    }

        .direct-chat-secondary .right > .direct-chat-text::after, .direct-chat-secondary .right > .direct-chat-text::before {
            border-left-color: #6c757d;
        }

    .direct-chat-success .right > .direct-chat-text {
        background: #28a745;
        border-color: #28a745;
        color: #ffffff;
    }

        .direct-chat-success .right > .direct-chat-text::after, .direct-chat-success .right > .direct-chat-text::before {
            border-left-color: #28a745;
        }

    .direct-chat-info .right > .direct-chat-text {
        background: #17a2b8;
        border-color: #17a2b8;
        color: #ffffff;
    }

        .direct-chat-info .right > .direct-chat-text::after, .direct-chat-info .right > .direct-chat-text::before {
            border-left-color: #17a2b8;
        }

    .direct-chat-warning .right > .direct-chat-text {
        background: #ffc107;
        border-color: #ffc107;
        color: #1F2D3D;
    }

        .direct-chat-warning .right > .direct-chat-text::after, .direct-chat-warning .right > .direct-chat-text::before {
            border-left-color: #ffc107;
        }

    .direct-chat-danger .right > .direct-chat-text {
        background: #dc3545;
        border-color: #dc3545;
        color: #ffffff;
    }

        .direct-chat-danger .right > .direct-chat-text::after, .direct-chat-danger .right > .direct-chat-text::before {
            border-left-color: #dc3545;
        }

    .direct-chat-light .right > .direct-chat-text {
        background: #f8f9fa;
        border-color: #f8f9fa;
        color: #1F2D3D;
    }

        .direct-chat-light .right > .direct-chat-text::after, .direct-chat-light .right > .direct-chat-text::before {
            border-left-color: #f8f9fa;
        }

    .direct-chat-dark .right > .direct-chat-text {
        background: #343a40;
        border-color: #343a40;
        color: #ffffff;
    }

        .direct-chat-dark .right > .direct-chat-text::after, .direct-chat-dark .right > .direct-chat-text::before {
            border-left-color: #343a40;
        }

    .direct-chat-lightblue .right > .direct-chat-text {
        background: #3c8dbc;
        border-color: #3c8dbc;
        color: #ffffff;
    }

        .direct-chat-lightblue .right > .direct-chat-text::after, .direct-chat-lightblue .right > .direct-chat-text::before {
            border-left-color: #3c8dbc;
        }

    .direct-chat-navy .right > .direct-chat-text {
        background: #001f3f;
        border-color: #001f3f;
        color: #ffffff;
    }

        .direct-chat-navy .right > .direct-chat-text::after, .direct-chat-navy .right > .direct-chat-text::before {
            border-left-color: #001f3f;
        }

    .direct-chat-olive .right > .direct-chat-text {
        background: #3d9970;
        border-color: #3d9970;
        color: #ffffff;
    }

        .direct-chat-olive .right > .direct-chat-text::after, .direct-chat-olive .right > .direct-chat-text::before {
            border-left-color: #3d9970;
        }

    .direct-chat-lime .right > .direct-chat-text {
        background: #01ff70;
        border-color: #01ff70;
        color: #1F2D3D;
    }

        .direct-chat-lime .right > .direct-chat-text::after, .direct-chat-lime .right > .direct-chat-text::before {
            border-left-color: #01ff70;
        }

    .direct-chat-fuchsia .right > .direct-chat-text {
        background: #f012be;
        border-color: #f012be;
        color: #ffffff;
    }

        .direct-chat-fuchsia .right > .direct-chat-text::after, .direct-chat-fuchsia .right > .direct-chat-text::before {
            border-left-color: #f012be;
        }

    .direct-chat-maroon .right > .direct-chat-text {
        background: #d81b60;
        border-color: #d81b60;
        color: #ffffff;
    }

        .direct-chat-maroon .right > .direct-chat-text::after, .direct-chat-maroon .right > .direct-chat-text::before {
            border-left-color: #d81b60;
        }

    .direct-chat-blue .right > .direct-chat-text {
        background: #007bff;
        border-color: #007bff;
        color: #ffffff;
    }

        .direct-chat-blue .right > .direct-chat-text::after, .direct-chat-blue .right > .direct-chat-text::before {
            border-left-color: #007bff;
        }

    .direct-chat-indigo .right > .direct-chat-text {
        background: #6610f2;
        border-color: #6610f2;
        color: #ffffff;
    }

        .direct-chat-indigo .right > .direct-chat-text::after, .direct-chat-indigo .right > .direct-chat-text::before {
            border-left-color: #6610f2;
        }

    .direct-chat-purple .right > .direct-chat-text {
        background: #6f42c1;
        border-color: #6f42c1;
        color: #ffffff;
    }

        .direct-chat-purple .right > .direct-chat-text::after, .direct-chat-purple .right > .direct-chat-text::before {
            border-left-color: #6f42c1;
        }

    .direct-chat-pink .right > .direct-chat-text {
        background: #e83e8c;
        border-color: #e83e8c;
        color: #ffffff;
    }

        .direct-chat-pink .right > .direct-chat-text::after, .direct-chat-pink .right > .direct-chat-text::before {
            border-left-color: #e83e8c;
        }

    .direct-chat-red .right > .direct-chat-text {
        background: #dc3545;
        border-color: #dc3545;
        color: #ffffff;
    }

        .direct-chat-red .right > .direct-chat-text::after, .direct-chat-red .right > .direct-chat-text::before {
            border-left-color: #dc3545;
        }

    .direct-chat-orange .right > .direct-chat-text {
        background: #fd7e14;
        border-color: #fd7e14;
        color: #1F2D3D;
    }

        .direct-chat-orange .right > .direct-chat-text::after, .direct-chat-orange .right > .direct-chat-text::before {
            border-left-color: #fd7e14;
        }

    .direct-chat-yellow .right > .direct-chat-text {
        background: #ffc107;
        border-color: #ffc107;
        color: #1F2D3D;
    }

        .direct-chat-yellow .right > .direct-chat-text::after, .direct-chat-yellow .right > .direct-chat-text::before {
            border-left-color: #ffc107;
        }

    .direct-chat-green .right > .direct-chat-text {
        background: #28a745;
        border-color: #28a745;
        color: #ffffff;
    }

        .direct-chat-green .right > .direct-chat-text::after, .direct-chat-green .right > .direct-chat-text::before {
            border-left-color: #28a745;
        }

    .direct-chat-teal .right > .direct-chat-text {
        background: #20c997;
        border-color: #20c997;
        color: #ffffff;
    }

        .direct-chat-teal .right > .direct-chat-text::after, .direct-chat-teal .right > .direct-chat-text::before {
            border-left-color: #20c997;
        }

    .direct-chat-cyan .right > .direct-chat-text {
        background: #17a2b8;
        border-color: #17a2b8;
        color: #ffffff;
    }

        .direct-chat-cyan .right > .direct-chat-text::after, .direct-chat-cyan .right > .direct-chat-text::before {
            border-left-color: #17a2b8;
        }

    .direct-chat-white .right > .direct-chat-text {
        background: #ffffff;
        border-color: #ffffff;
        color: #1F2D3D;
    }

        .direct-chat-white .right > .direct-chat-text::after, .direct-chat-white .right > .direct-chat-text::before {
            border-left-color: #ffffff;
        }

    .direct-chat-gray .right > .direct-chat-text {
        background: #6c757d;
        border-color: #6c757d;
        color: #ffffff;
    }

        .direct-chat-gray .right > .direct-chat-text::after, .direct-chat-gray .right > .direct-chat-text::before {
            border-left-color: #6c757d;
        }

    .direct-chat-gray-dark .right > .direct-chat-text {
        background: #343a40;
        border-color: #343a40;
        color: #ffffff;
    }

        .direct-chat-gray-dark .right > .direct-chat-text::after, .direct-chat-gray-dark .right > .direct-chat-text::before {
            border-left-color: #343a40;
        }

    .users-list {
        padding-left: 0;
        list-style: none;
    }

        .users-list > li {
            float: left;
            padding: 10px;
            text-align: center;
            width: 25%;
        }

            .users-list > li img {
                border-radius: 50%;
                height: auto;
                max-width: 100%;
            }

            .users-list > li > a:hover,
            .users-list > li > a:hover .users-list-name {
                color: #999;
            }

    .users-list-name,
    .users-list-date {
        display: block;
    }

    .users-list-name {
        color: #495057;
        font-size: 0.875rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .users-list-date {
        color: #748290;
        font-size: 12px;
    }
</style>

<h1>Chat</h1>
<div class="container">
    <div class="row">
        <ul>
            @*<li>Hello</li>

                @{ foreach (var v in SignalRChat.Hubs.ConnectedUser.Ids)
                    {
                <li>
                    @v.id.ToString();
                    @v.name.ToString();
                    @v.email.ToString();
                </li>
                    }
                }*@
        </ul>
    </div>
</div>
@*<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User..........<label>@Model.userlist.FirstOrDefault(a => a.UserName == User.Identity.Name).Name</label>
                <input type="hidden" id="userInput" value="@Model.userlist.FirstOrDefault(a => a.UserName == User.Identity.Name).Name"  />
                <br />
                Message...<input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>*@


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <ul >
               
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a>
                    </li>
            </ul>
        </div>
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-5 connectedSortable">

                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-primary">
                    <div class="card-header">
                        @foreach (var user in Model.userlist)
                        {
                            if (user.UserName == User.Identity.Name)
                            {

                                <div class="card-title" id="My_image">
                                    <img class="direct-chat-img" id="direct-chat-img" src="data:image;base64,@Convert.ToBase64String(Model.UserPhotos(user.Photo).FileContents)" alt="message user image">

                                </div>
                                @Model.userName
                            }
                        }

                        <div class="card-tools">
                            @*<span title="3 New Messages" class="badge badge-primary">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                    <i class="fas fa-comments"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>*@
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages">
                            <!-- Message. Default to the left -->
                            @foreach (var user in Model.userlist)
                            {
                                if (user.UserName != User.Identity.Name)
                                {
                                    <div class="direct-chat-msg">
                                        <a href="#" id="@user.Email" class="ulink">
                                            <!-- /.direct-chat-infos -->
                                            <div id="imgdiv">
                                                <img class="direct-chat-img" src="data:image;base64,@Convert.ToBase64String(Model.UserPhotos(user.Photo).FileContents)" alt="message user image">
                                            </div>
                                            <!-- /.direct-chat-img -->
                                            <div class="direct-chat-infos clearfix">
                                                <span class="direct-chat-name float-left" id="usname">@user.Name</span>

                                                @*@{ foreach (var v in SignalRChat.Hubs.ChatHub._connections.GetAllConnections())
                                                    {
                                                        if (user.Name == v.name && user.Email == v.email)
                                                        {*@

                                                @*<span class="direct-chat-timestamp float-right">online</span>
                                                    <input type="hidden" value="@v.id" id="@v.id" />
                                                    <span class="direct-chat-timestamp float-left" id="usrID">@v.id</span>
                                                    break;*@
                                                @*}
                                                        }
                                                    }*@


                                            </div>
                                        </a>

                                        <!-- /.direct-chat-text -->
                                    </div>
                                }
                            }
                        </div>
                        <!--/.direct-chat-messages-->

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                    </div>
                    <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->


            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">

                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-primary">
                    <div class="card-header">
                        <h3 class="card-title" id="ConnectToUser">Direct Chat</h3>
                        <div class="card-tools">
                            <span title="3 New Messages" class="badge badge-primary">3</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fas fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <ul id="messagesList" class="direct-chat-messages">
                        </ul>
                        <!--/.direct-chat-messages-->
                        <!-- Contacts are loaded here -->
                        @*<div class="direct-chat-contacts">
                                <ul class="contacts-list">
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="~/AdminLTE/img/user1-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Count Dracula
                                                    <small class="contacts-list-date float-right">2/28/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">How have you been? I was...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="~/AdminLTE/img/user7-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Sarah Doe
                                                    <small class="contacts-list-date float-right">2/23/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">I will be waiting for...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="~/AdminLTE/img/user3-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Nadia Jolie
                                                    <small class="contacts-list-date float-right">2/20/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">I'll call you back at...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="~/AdminLTE/img/user5-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Nora S. Vans
                                                    <small class="contacts-list-date float-right">2/10/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">Where is your new...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="~/AdminLTE/img/user6-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    John K.
                                                    <small class="contacts-list-date float-right">1/27/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">Can I take a look at...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                            <img class="contacts-list-img" src="~/AdminLTE/img/user8-128x128.jpg" alt="User Avatar">
                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name">
                                                    Kenneth M.
                                                    <small class="contacts-list-date float-right">1/4/2015</small>
                                                </span>
                                                <span class="contacts-list-msg">Never mind I found...</span>
                                            </div>
                                            <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                </ul>
                                <!-- /.contacts-list -->
                            </div>*@
                        <!-- /.direct-chat-pane -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <form action="#" method="post">
                            <div class="input-group">


                                @*<label id="selectedUser">@Model.userlist.FirstOrDefault(a => a.UserName == User.Identity.Name).Name</label>*@
                                <input type="hidden" id="userInput" value="@Model.userlist.FirstOrDefault(a => a.UserName == User.Identity.Name).Name" />
                                @foreach (var user in Model.userlist)
                                {
                                    if (user.UserName == User.Identity.Name)
                                    {

                                        <div class="card-title" id="My_image">
                                            <img class="direct-chat-img" id="direct-chat-img" src="data:image;base64,@Convert.ToBase64String(Model.UserPhotos(user.Photo).FileContents)" alt="message user image">
                                            @*@Model.userName*@
                                        </div>
                                    }
                                }
                                <input type="text" name="message" id="user-message-text" placeholder="Type Message ..." class="form-control">
                                <span >@*class="input-group-append">*@
                                    <button type="button" id="usermsg" value="Send Message" class="btn btn-primary">Send</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->

            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<input type="hidden" id="user-name" value="" />
<input type="hidden" id="MyName" value="@Model.userName" />
<input type="hidden" id="Myemail" value="@Model.userEmail" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
@*<script src="~/lib/signalr/signalr.js"></script>*@
@*<script src="~/js/chat.js"></script>*@
<script>
    //$(document).ready(function () {
    // alert(1);
    //alert($('#MyName').val());
    //alert($('#Myemail').val());
    $('.ulink').click(function () {
        $('#user-name').attr('value', $(this).attr('id'));
        alert($(this).attr('id'));
        var s = $(this).find('#imgdiv').html();
        var h = $(this).find('#usname').text();
        var j = $(this).find('#usrID').text();
        // s = "direct-chat-img-" + s;
        alert(j);
        //var h = $('#'s).html();

        $('#ConnectToUser').html(s + h);
        // alert($('#ConnectToUser').text());
        connectserver(s, j);
    })

    ///////////////////////////////////////////////
    function connectserver(s, j) {

        var name = "";
        var mail = "";
        var chatuserMail = "";
        var url = "";
        //$(document).ready(function () {
        // alert(1);
        //$('#ulink')
        //alert($('#MyName').val());
        //alert($('#Myemail').val());
        name = $('#MyName').val();
        mail = $('#Myemail').val();
        chatuserMail = $('#user-name').val();

        var url = "/chatHub?username=" + name + "&email=" + mail + "&ChatUserEmail=" + chatuserMail;

        alert(url);
        //});
        const connection = new signalR.HubConnectionBuilder()
            .withUrl(url)
            .build();



        connection.on("ReceiveMessage", (user, message) => {
            alert(2);
            const encodedMsg = user + " says " + message;

            var y = "";
            if (user == document.getElementById("userInput").value) {
                y = '<div class="direct-chat-msg">' + $('#My_image').html();
            } else {
                y = '<div class="direct-chat-msg right">' + s;
            }

            var li = y + '<div class="direct-chat-text">';
            li = li + encodedMsg;
            li = li + '</div></div>';
            document.getElementById("messagesList").innerHTML += li;
        });

        document.getElementById("usermsg").addEventListener("click", async (event) => {
            //alert(1);
            var userName = document.getElementById("user-name").value;
            var userMsg = document.getElementById("user-message-text").value;

            ///////////////////
            var encodedMsg = userName + " says " + userMsg;
            var y = "";
            if (userName == document.getElementById("userInput").value) {
                alert(11);
                y = '<div class="direct-chat-msg">' + $('#My_image').html();
            } else {
                y = '<div class="direct-chat-msg left">' + $('#My_image').html();
            }
            alert(2);
            var li = y + '<div class="direct-chat-text">';
            li = li + encodedMsg;
            li = li + '</div></div>';
            document.getElementById("messagesList").innerHTML += li;
            alert(22);
            //////////////////
            try {
                await connection.invoke("SendMessageToUser", userName, userMsg);
            }
            catch (e) {
                //alert(e.toString());
                console.error(e.toString());
            }
            event.preventDefault();
        });

        connection.start().catch(err => console.error(err));
    }

    fillMyText(user, message)
    {
        alert("hi");
            const encodedMsg = user + " says " + message;

            var y = "";
            if (user == document.getElementById("userInput").value) {
                y = '<div class="direct-chat-msg">' + $('#My_image').html();
            } else {
                y = '<div class="direct-chat-msg right">' + s;
            }

            var li = y + '<div class="direct-chat-text">';
            li = li + encodedMsg;
            li = li + '</div></div>';
            document.getElementById("messagesList").innerHTML += li;
        alert(2);
    }
    //});
</script>