@page
@model CoreSite1.Pages.Admin.Store.Map.DeleteModel

@{
    ViewData["Title"] = "Delete";
    //Layout = "~/Pages/Shared/Yoga/Blog/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MapImage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapImage.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapImage.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapImage.MapShape)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapImage.MapShape)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MapImage.coords)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MapImage.coords)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MapImage.MapImageID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
