@page
@using Microsoft.AspNetCore.Identity
@model WebChatCore.Pages.UserListModel
@{
    ViewData["Title"] = "UserList";
}
@inject SignInManager<ExtendedUser> SignInManager
@inject UserManager<ExtendedUser> UserManager
@*<h1>UserList</h1>*@



@*@if (Model.any.Any())
    {*@
@*<a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="width:auto">
        @Model.userId
        @Model.userName
        @Model.userEmail
    </a>
    <a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="width:auto">
       1
        @Model.userName
    </a>
    <a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="width:auto">
       2

        @Model.userEmail
    </a>*@
<form asp-page="./UserList" method="get">
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <div class="form-actions no-color">
                <p>
                    Find by name, email:
                    <input type="search" class="form-control form-control-sidebar" name="SearchString" value="@Model.CurrentFilter" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                    |<a asp-page="./UserList">Back to full List</a>
                </p>
            </div>
        </div>
    </div>

</form>
@*@foreach (var user in Model.userlist)
{
    <div class="card mb-3">
        <div class="card-header">
            User Id : @user.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@user.UserName  </h5>
            <h5 class="card-title">@user.Name  </h5>

            <img src="data:image;base64,@Convert.ToBase64String(Model.UserPhotos(user.Photo).FileContents)" style="width:60px;height:60px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 30px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
            <a href="./Detail?id=@user.Id" class="btn btn-primary">Details</a>
        </div>
        <div class="card-footer">
          
        </div>
    </div>
}*@
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">All Users</h4>
                        @*<p class="card-category">Here is a subtitle for this table</p>*@
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>ID</th>
                            <th>UserName</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Detail</th>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.userlist)
                                {
                                    <tr>
                                        <td>@user.Id</td>
                                        <td>@user.UserName </td>
                                        <td>@user.Name</td>
                                        <td>
                                            <img src="data:image;base64,@Convert.ToBase64String(Model.UserPhotos(user.Photo).FileContents)" style="width:60px;height:60px; background: #FFFFFF;
                                                margin: auto;
                                                -moz-border-radius: 30px;
                                                border-radius: 100px;
                                                padding: 6px;
                                                box-shadow: 0px 0px 20px #888;" />
                                        </td>
                                        <td><a href="./Detail?id=@user.Id" class="btn btn-primary">Details</a></td>
                                    </tr>
                                        }
                                       
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    var prevDisabled = !Model.userlist.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.userlist.HasNextPage ? "disabled" : "";
}
<a asp-page="./UserList"
   asp-route-pageIndex="@(Model.userlist.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./UserList"
   asp-route-pageIndex="@(Model.userlist.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
@*}
    else
    {
        <div class="card">
            <div class="card-header">
                No users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="Account" asp-action="Register">
                    Add new user
                </a>
            </div>
        </div>
    }*@