<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMSCore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @try
        {
            bool done = false;
            @foreach (var row in Model.Templates)
            {
                @*@row.TempleteURL <br /> @this.Url.Action().ToString() <br />*@ @*check URLS*@
            if (row.TempleteURL == this.Url.Action().ToString())
            {
                ////dynamic header comes from backend.
                if (row.Header != null)
                {
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                            <div class="container">
                                <a class="navbar-brand" asp-area="" asp-page="/Index">CMSCore</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                                    @*//for dynamic removed login partila and brought below.IF else is done using JQuery.*@
                                    @*remove below UL completely to insert your new Header.*@
                                    @{ string slogin=""; string slogout=""; string sregister="";}
                                    @{ @if (this.Url.Action().Contains("fr_FR"))
                                    {
                                        slogout = "Se déconnecter";
                                        sregister = "S'inscrire";
                                        slogin = "Connexion";
                                    }
                                    else
                                    {
                                        slogout = "Logout";
                                        sregister = "Register";
                                        slogin = "Login";
                                    }
                                    }
                                    <ul class="navbar-nav">
                                        <li class="nav-item" id="LIUser_email">
                                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" id="User_email" title="Manage"> </a>
                                        </li>
                                        <li class="nav-item" id="LIUser_logout">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                                <button type="submit" class="nav-link btn btn-link text-dark">@slogout</button>
                                            </form>
                                        </li>
                                        <li class="nav-item" id="LIUser_register">
                                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@sregister</a> @**@
                                        </li>
                                        <li class="nav-item" id="LIUser_login">
                                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@slogin</a> @**@
                                        </li>
                                    </ul>
                                    @Html.Raw(row.Header.ToString())
                                </div>
                            </div>
                        </nav>


                    }
                    done = true;
                    break;
                }
            }
            if (!done)
            {
                ////if the code have "Model.Templates" but no - "row.TempleteURL == this.Url.Action().ToString()".
                ///below header will be shown.
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">CMSCore</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <partial name="_LoginPartial" />
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
        }
        catch
        {
            //if the code page do not have "Model.Templates" the below header will be shown.
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">CMSCore</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

    </header>
    <div class="container">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @try
        {
            bool doneF = false;
            @foreach (var row in Model.Templates)
            {
                @*@row.TempleteURL <br /> @this.Url.Action().ToString() <br />*@ @*check URLS*@
                if (row.TempleteURL == this.Url.Action().ToString())
                {
                    ////dynamic Footer comes from backend.
                    if (row.Footer != null)
                    {
                        @Html.Raw(row.Footer.ToString())
                    }
                    doneF = true;
                    break;
                }
            }
            if (!doneF)
            {
                ////if the code have "Model.Templates" but no - "row.TempleteURL == this.Url.Action().ToString()".
                ///below Footer will be shown.
                <div class="container">
                    &copy; 2021 - CMSCore - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            }
        }
        catch
        {
            //if the code page do not have "Model.Templates" the below Footer will be shown.
            <div class="container">
                &copy; 2021 - CMSCore - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        }

    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            //used to get login name(email) details dynamically in header section.
            const uri = '/Home?handler=UserEmail';
            fetch(uri)
                .then(response => response.json())
                .then(data => _displayItems(data))
                .catch(error => console.error('Unable to get items.', error));
            function _displayItems(data) {
                //alert(4);
                $('#User_email').text('Hello ' + data + '!');
                //alert(3);
                //alert($('#User_email').text());
                //$('#User_email');
                var urltext = data;//$('#User_email').text();
                //alert(7);
                if (urltext.trim() == '') {
                    // pass
                    //alert('NOtext');
                    $('#LIUser_logout').hide();
                    $('#LIUser_email').hide();
                }
                else {
                    //alert('text');
                    $('#LIUser_login').hide();
                    $('#LIUser_register').hide();

                }
            }

           

            
            

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
