@page
@model CoreSite1.Pages.Admin.Controllers.Map.SearchModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MapStock[0].MapImageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapStock[0].ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MapStock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MapImageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MapStockID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MapStockID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MapStockID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
