@page
@model CoreSite1.Pages.ToDoItem.DetailsModel

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ToDoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Done)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.IsCalenderEvent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.IsCalenderEvent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.CalenderEventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.CalenderEventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.AddedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.AddedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.AddedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDoItem.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
