@page
@model CoreSite1.Pages.OrderItem.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.AddedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.AddedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.SKU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.SKU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.FinalUnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.FinalUnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Product.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Variant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Variant.VariantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Order.OrderId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrderItem.OrderItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
