@page
@model CoreSite1.Pages.OrderItem.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.AddedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.AddedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.SKU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.SKU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.FinalUnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.FinalUnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Product.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Variant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Variant.VariantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItem.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderItem.Order.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderItem.OrderItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
